html
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit
body
  margin 0
  padding 0
  color #343a40
  background-color #f8f9fa
html, body {
      position: relative;
      height: 100%;
  }
